<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.spring.festival.mapper.trashMapper">

     <select id="selectTrashCan" resultType="trashVO">
        SELECT * FROM festival.member
     </select>
	
	<!--검색-->
     <select id="searchTrashCan" resultType="trashVO">
        select a.t_id, a.x, a.y, a.fc_num, b.t_can_height, b.t_height from trash_info a, trash_log b where a.fc_num = #{fc_num} and a.t_id = b.t_id and (b.t_id, b.t_update_time) in(select b.t_id, MAX(b.t_update_time) from trash_info a, trash_log b where a.fc_num = #{fc_num} group by t_id) order by b.t_update_time desc
     </select>
</mapper>